html,
body,
header,
#intro,
#introContact,
#introThanks{
    font-family: sans-serif, Roboto;
}

html,
body,
header{
    font-family: sans-serif, Roboto;
}

@media only screen and (min-width: 601px){

    #navRow{
        width: 100%;
        padding: 10px 0 0 0;
    }

    #navSearchBar{
        margin: 0 !important;
        padding: 0 0 0 10px;
    }

    .navSearch{
        width: 400px !important;
    }

    .input-group.md-form.form-sm.form-1 input{
        border: 1px solid #bdbdbd;
        background-color: white;
    }

    .nav-item{
        padding: 0 10px 0 0;
        width: 100px;
        text-align: center;
        display: inline-block;
    }

    .nav-item a{
        width: inherit;
        text-align: center;
    }

    .nav-item p{
        text-align: center;
    }

    #navbarMain{
        text-align: center;
        background-color: transparent;
    }

    #navbarMain svg{
        color: #888;
    }

    #navbarMain p{
        color: #888;
        text-align: center;
    }

    #navbarMain a:hover svg{ 
        color: #FF0000; 
    }

    .fa-stack-2x{
        color: white;
    }

    #wishlistItems{
        padding: .25rem 0 0 0;
    }

    #cartItems{
        padding: 1px 0 0 .5rem;
    }

    .productsRow{
        padding: 50px 0 0 0;
    }

    #selling-points-container{
        padding: 40px 0 20px 0;
    }

    #selling-point-circle{
        color: #888;
    }

    .selling-point-text{
        padding: 0 0 0 10px;
    }

    .card-img-top{
        height: 250px;
    }

    .card-text-original{
        color: #888;
        text-decoration: line-through;
        margin: 0 !important;
    }

    .card-text-sale{
        color: red;
        margin: 0 !important;
    }

    .fa-twitter-square, .fa-facebook-square, .fa-instagram{
        margin: 0 20px 20px 0;
    }

.page-footer{
  background-color: #888;
}

#contactInfo{
    font-size: 150%;
    color: #0d0d0d;
}

#contactHeading{
    color: #0d0d0d;
}

.contactInfoDiv{
    padding: 20px;
}

.about {
    width: 100%;
    padding: 20px;
    overflow: hidden;
    font-size: 150%;
    color: #0d0d0d;
    text-align: center;
}




}

@media only screen and (max-width: 601px){

    #navSearchBar{
        margin: 0 !important;
    }

    .navSearch{
        width: 300px !important;
    }

    .input-group.md-form.form-sm.form-1 input{
        border: 1px solid #bdbdbd;
    }

    #navbarMain{
        text-align: left;
        background-color: transparent;
    }

    .nav-item{
        padding: 0 5px 0 0;
    }

    #navbarMain svg{
        color: #888;
    }

    #navbarMain span{
        color: #888;
    }

    #navbarMain a:hover svg{ 
        color: #FF0000; 
    }

    .fa-stack-2x{
        color: white;
    }
}