html,
body,
header,
#intro,
#introContact,
#introThanks{
    font-family: sans-serif, Roboto;
}

html,
body,
header{
    font-family: sans-serif, Roboto;
}

@media only screen and (min-width: 601px){
    #topRow{
        padding: 100px 0 0 0;
    }

    #navRow{
        width: 100%;
        padding: 10px 0 0 0;
    }

    #navSearchBar{
        margin: 0 !important;
    }

    .navSearch{
        box-shadow: none !important;
        background-color: lightgrey !important;
    }

    .navSearch:focus{
        border-bottom: #888 !important;
    }

    .input-group.md-form.form-sm.form-1 input{
        border: 1px solid #bdbdbd;
        background-color: white;
    }

    .waves-input-wrapper{
        width: 90%;
    }

    .nav-item{
        padding: 0 50px 0 0;
        display: inline-block;
        text-align: left;
    }

    .page-links{
        font-size: 20px;
        line-height: 40px;
        color: lightgrey;
    }

    .page-links:hover{
        color: #FF0000;
    }

    #navbarMain{
        text-align: center;
        background-color: transparent;
    }

    #navbarMain svg{
        color: #888;
    }

    #navbarMain p{
        color: #888;
        text-align: center;
    }

    #navbarMain a:hover svg{ 
        color: #FF0000; 
    }

    .fa-stack-2x{
        color: white;
    }

    #wishlistItems{
        padding: .25rem 0 0 0;
    }

    #cartItems{
        padding: 1px 0 0 .5rem;
    }

    .productsRow{
        padding: 50px 0 0 0;
    }

    #selling-points-container{
        padding: 40px 0 20px 0;
        text-align: center;
    }

    #selling-point-circle{
        color: #888;
    }

    .selling-point-text{
        padding: 0 0 0 10px;
    }

    .card-img-top{
        height: 300px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: auto !important;
    }

    .card-body{
        text-align: center;
    }

    .card-text{
        text-align: center;
    }

    .original-price{
        color: #888;
        text-decoration: line-through;
        margin: 0 20px 0 0 !important;
        text-align: center;

    }

    .card-text-price{
        color: red;
        margin: 0 !important;
        text-align: center;
    }

    .fa-twitter-square, .fa-facebook-square, .fa-instagram{
        margin: 0 20px 20px 0;
    }

    .social-links-footer {
        width: 100%;
        padding: 20px;
        overflow: hidden;
        font-size: 150%;
        color: lightgrey;
        text-align: center;
    }

    .social-links-footer a{
        color: lightgrey !important;
    }

    .social-links-footer a:hover{
        color: #FF0000 !important;
    }

    .page-links-footer{
        font-size: 20px;
        line-height: 40px;
        color: lightgrey !important;
    }

    .page-links-footer:hover{
        color: #FF0000 !important;
    }

    .image-source-link {
        color: #98C3D1;
    }

    .mfp-with-zoom .mfp-container,
    .mfp-with-zoom.mfp-bg {
        opacity: 0;
        -webkit-backface-visibility: hidden;
        /* ideally, transition speed should match zoom duration */
        -webkit-transition: all 0.3s ease-out; 
        -moz-transition: all 0.3s ease-out; 
        -o-transition: all 0.3s ease-out; 
        transition: all 0.3s ease-out;
    }

    .mfp-with-zoom.mfp-ready .mfp-container {
            opacity: 1;
    }
    .mfp-with-zoom.mfp-ready.mfp-bg {
            opacity: 0.8;
    }

    .mfp-with-zoom.mfp-removing .mfp-container, 
    .mfp-with-zoom.mfp-removing.mfp-bg {
        opacity: 0;
    }



}

@media only screen and (max-width: 601px){

    #topRow{
        padding: 100px 0 0 0;
    }

    #navRow{
        width: 100%;
        padding: 10px 0 0 0;
    }

    .navbar-brand{
        padding: 0 0 0 15px;
    }

    #navSearchBar{
        margin: 0 !important;
        padding: 0 0 0 10px;
        width: 100%;
    }

    .navSearch{
        width: 100% !important;
        box-shadow: none !important;
        background-color: lightgrey !important;
    }

    .navSearch:focus{
        border-bottom: #888 !important;
    }

    .input-group.md-form.form-sm.form-1 input{
        border: 1px solid #bdbdbd;
        background-color: white;
    }

    .waves-input-wrapper{
        width: 85%;
    }

    .nav-item{
        padding: 0 0 0 15px;
        display: inline-block;
        text-align: left;
    }

    .page-links{
        font-size: 20px;
        line-height: 40px;
        color: lightgrey;
    }

    .page-links:hover{
        color: #FF0000;
    }

    #navbarMain{
        text-align: center;
        background-color: transparent;
    }

    #navbarMain svg{
        color: #888;
    }

    #navbarMain p{
        color: #888;
        text-align: center;
    }

    #navbarMain a:hover svg{ 
        color: #FF0000; 
    }

    .fa-stack-2x{
        color: white;
    }

    #wishlistItems{
        padding: .25rem 0 0 0;
    }

    #cartItems{
        padding: 1px 0 0 .5rem;
    }

    .productsRow{
        padding: 80px 0 0 0;
    }

    #selling-points-container{
        padding: 20px 0 20px 0;
        text-align: center;
    }

    #selling-point-circle{
        color: #888;
    }

    .selling-point-text{
        padding: 0 0 0 10px;
    }

    .card-img-top{
        height: 200px;
        display: block !important;
        margin-left: auto;
        margin-right: auto;
    }

    .card-body{
        text-align: center;
    }

    .card-text{
        text-align: center;
    }

    .original-price{
        color: #888;
        text-decoration: line-through;
        margin: 0 20px 0 0 !important;
        text-align: center;

    }

    .card-text-price{
        color: red;
        margin: 0 !important;
        text-align: center;
    }

    .fa-twitter-square, .fa-facebook-square, .fa-instagram{
        margin: 0 20px 20px 0;
    }

    .social-links-footer {
        width: 100%;
        padding: 20px;
        overflow: hidden;
        font-size: 150%;
        color: lightgrey;
        text-align: center;
    }

    .social-links-footer a{
        color: lightgrey !important;
    }

    .social-links-footer a:hover{
        color: #FF0000 !important;
    }

    .page-links-footer{
        font-size: 20px;
        line-height: 40px;
        color: lightgrey !important;
    }

    .page-links-footer:hover{
        color: #FF0000 !important;
    }

    .image-source-link {
        color: #98C3D1;
    }

    .mfp-with-zoom .mfp-container,
    .mfp-with-zoom.mfp-bg {
        opacity: 0;
        -webkit-backface-visibility: hidden;
        /* ideally, transition speed should match zoom duration */
        -webkit-transition: all 0.3s ease-out; 
        -moz-transition: all 0.3s ease-out; 
        -o-transition: all 0.3s ease-out; 
        transition: all 0.3s ease-out;
    }

    .mfp-with-zoom.mfp-ready .mfp-container {
            opacity: 1;
    }
    .mfp-with-zoom.mfp-ready.mfp-bg {
            opacity: 0.8;
    }

    .mfp-with-zoom.mfp-removing .mfp-container, 
    .mfp-with-zoom.mfp-removing.mfp-bg {
        opacity: 0;
    }
}